<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Camera Experiments</title>
        <link rel="stylesheet" type="text/css" href="/index.css">
    </head>
    <body>
        <center>
        <div id="streamer">
            <video id="vid" autoplay></video><br/>

            <div id="iconBar">
                <img src="/video.png" id="record" class="rec">
                <img src="/photoIcon.png" id="snap">
                <img src="/trashcanIcon.png" id="goAway">
            </div>
        </div>

        <h1 id="photoCount"></h1>
        <button id="selectAll">Select All</button> <br/>

        <div id="holding">
        </div>


        </center>
        <script src="/index.js"></script>
    </body>
</html>